body {
	margin: 0 auto;
	font-family: "Century Gothic", sans-serif;
}

header img{
	
	float: left;
	height: 100px;
	width: 100px;
	margin: 10px;
}

.icone{
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}